<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}
    
    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Python India</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{{ 'active' if get_url() == '/' or get_url().startswith('/blog/') }}"><a href="/">Blog</a></li>
              <li><a href="/wiki">Wiki</a></li>
              <li><a href="/planet">Planet</a></li>
              <li id="nav-jobs"><a href="/jobs/">Jobs</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $(function() {
            if (document.location.pathname == "/jobs/") {
                $(".nav li").removeClass("active");
                $(".nav li#nav-jobs").addClass("active");
            }
        });
    </script>

    <!--
    <header class="header">
        <div class="container">
            <h1><a href="{{ get_url() }}">{{ site.title }}</a></h1>
        </div>
    </header>
    -->

    <!--

    <div id="container">
        <div id="nav">
            <ul>
                <li><a href="{{ get_url() }}">Blog</a></li>
                <li><a href="{{ get_url('archives/') }}">Archives</a></li>
                {% if site.feed %}<li><a href="{{ get_url('feed.xml') }}">Feed</a></li>{% endif %}
            </ul>
            
            {% if site.social.values()|sort(true)|first %}
                <ul id="social">
                    {% if site.social.dribbble %}<li><a href="http://dribbble.com/{{ site.social.dribbble }}"><img src="{{ get_asset('images/social/dribbble.png') }}" width="16" height="16" alt="Dribbble"></a></li>{% endif %}
                    {% if site.social.facebook %}<li><a href="https://www.facebook.com/{{ site.social.facebook }}"><img src="{{ get_asset('images/social/facebook.png') }}" width="16" height="16" alt="Facebook"></a></li>{% endif %}
                    {% if site.social.github %}<li><a href="https://github.com/{{ site.social.github }}"><img src="{{ get_asset('images/social/github.png') }}" width="16" height="16" alt="GitHub"></a></li>{% endif %}
                    {% if site.social.google_plus %}<li><a href="https://plus.google.com/{{ site.social.google_plus }}"><img src="{{ get_asset('images/social/google-plus.png') }}" width="16" height="16" alt="Google+"></a></li>{% endif %}
                    {% if site.social.lastfm %}<li><a href="http://www.last.fm/user/{{ site.social.lastfm }}"><img src="{{ get_asset('images/social/lastfm.png') }}" width="16" height="16" alt="Last.fm"></a></li>{% endif %}
                    {% if site.social.stack_overflow %}<li><a href="http://stackoverflow.com/users/{{ site.social.stack_overflow }}"><img src="{{ get_asset('images/social/stack-overflow.png') }}" width="16" height="16" alt="Stack Overflow"></a></li>{% endif %}
                    {% if site.social.steam %}<li><a href="http://steamcommunity.com/id/{{ site.social.steam }}"><img src="{{ get_asset('images/social/steam.png') }}" width="16" height="16" alt="Steam"></a></li>{% endif %}
                    {% if site.social.twitter %}<li><a href="https://twitter.com/#!/{{ site.social.twitter }}"><img src="{{ get_asset('images/social/twitter.png') }}" width="16" height="16" alt="Twitter"></a></li>{% endif %}
                </ul>
            {% endif %}
        </div>
        
        <div id="header">
            <h1><a href="{{ get_url() }}">{{ site.title }}</a></h1>
            {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
        </div>
        -->
        
        <div class="container">
          <div class="row">
            <div id="content" class="span9">
                {% block content %}{% endblock %}
            </div>
            <div id="sidebar" class="span3">
                <h4>Python Usergroups in India</h4>
                <ul class="unstyled">
                    <li><a href="http://bangalore.python.org.in/">Bangalore</a></li>
                    <li><a href="https://groups.google.com/group/chennaipy">Chennai</a></li>
                    <li><a href="https://groups.google.com/group/hyderabadpython">Hyderabad</a></li>
                    <li><a href="https://groups.google.com/group/python-kerala">Kerala</a></li>
                    <li><a href="http://mumpy.org/">Mumbai</a></li>
                    <li><a href="https://www.facebook.com/PyGuj">Gujarat</a></li>
                    <li><a href="http://python.org.in/wiki/NcrPython">National Capital Region</a></li>
                    <li><a href="http://pune.python.org.in/">Pune</a></li>
                </ul>
            </div>
          </div>
        </div>
        
        <footer class="footer">
            <div class="container">
                <p>
                {% if site.author %}Copyright &copy; {{ none|date('%Y') }} {{ site.author }} | {% endif %}
                Powered by <a href="http://mynt.mirroredwhite.com/">mynt</a> |
                Hosted by <a href="http://e2enetworks.com/">E2E Networks</a>
                </p>
            </div>
        </footer>
    </div>
</body>
</html>
